header{
    background-color: #FD8D14 !important;
}

header .logo{
    text-decoration: none;
}

header .logo h1{
    color: white !important;
}

header .btn-getstarted{
    background-color: white !important;
    color: #FD8D14 !important;
    text-decoration: none;
}

#navmenu ul li a{
    color: #eee !important;
    text-decoration: none;
}

#gap{
    height: 100px;
}

.heading{
    display: flex;
    align-items: center;
    justify-content: center;
}

.notice{
    width: fit-content;
    margin: 10px 0 20px 0px;
    font-size: 36px;
    text-align: center;
    font-weight: bold;
    position: relative; 
}

.notice::after{
    content: "";
    width: 100px;
    height: 5px;
    background-color: #FD8D14;
    position: absolute;
    top: 50%;
    right: -105px;
    /* margin-left: 10px; */
    transform: translateY(-50%);
    z-index: 10;
}

.notice::before{
    content: "";
    width: 100px;
    height: 5px;
    background-color: #FD8D14;
    position: absolute;
    top: 50%;
    left: -105px;
    /* margin-right: 30px; */
    transform: translateY(-50%);
    z-index: 10;
}


#main{
    min-height: calc(100vh - 100px);
}

.notice-block{
    display: flex !important;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 15px auto;
    border: 0.5px solid #FD8D14;
    padding: 0 10px;
    border-radius: 9px;
    box-shadow: 5px 1px 4px #FD8D14, 
                5px -1px 4px #FD8D14;
    /* border-bottom: 1.5px solid #FD8D14; */
    max-width: 950px;
}

#footer{
    /* display: none;    */

}

@media screen and (max-width:950px) {
    .notice-block{
        margin: 15px 10px;
    }
}

.notice-date{
    flex: 1;
    text-align: center;
}

.notice-container{
    padding: 3px 3px 3px 10px;
    border-left: 1.5px solid #FD8D14;
    flex: 4;
}

.notice-date{
}

.download-notice-btn{
    width: fit-content;
    text-align: center;
    background-color: none;
    padding: 6px 2px;
    flex:1;
    display: grid;
    justify-content: center;
    align-items: center;
    height: fit-content;
    border-radius: 9px;
    /* width: 100px; */
}

.download-notice-btn.visible{
    background-color: #FD8D14;
}

.notice-block .download-notice-btn a{
    color: white;
    text-decoration: none;
}

.fa-download{
    font-size: 24px;
}

.animation{
    height: 300px;
}

.animation lottie-player{
    height: 100px;
    width: 100px;
}

#firstLottie{
    display: block;
    width:400px; 
    height: 400px;
}

.event-container{
    max-width: 950px;
    margin: 15px auto 30px auto;
}

.event-img-container{
    position: relative;
    width: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: row;
    column-gap: 10px;
    row-gap: 10px;
    /* overflow: hidden; */
    flex-wrap: wrap;
}



.description{
    color: #000;
    font-weight: 700;
    
}

.event{
    margin-bottom: 30px;
}
img{
    transition: transform 200ms;
}
img:hover {
    transform: scale(1.2);
    box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
    border: 5px solid white;
}

summary{
    font-size: 30px;
    font-weight: bold;
}

@media screen and (max-width: 950px) {
    .event-container{
        margin: 10px;
        flex-basis: 150px;
    }
    .event-description{
        display: none;
        
    }
    .description{
        color: black;
    }
}